.searchCard {
  display: flex;
  width: 500px;
  height: 200px;
  margin-top: 10px;
  background-color: lightgray;
}
.divItemContainer {
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.searchItem {
  width: 100%;
}

.colorButton {
  background: lightcoral;
}
